[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "==3.9.1"
pytest = "==7.3.0"
pytest-cov = "==2.11.0"

[packages]
psycopg2-binary = "==2.8.6"
lambda-decorators = "==0.6.0"

[requires]
python_version = "3.7"
